<%
  # Smile specific :
  # RM V4.0.3 OK

  ################
  # Smile specific #797962 Time Entry Report Queries
  is_time_report_query = ( defined?(TimeReportQuery) && @query.is_a?(TimeReportQuery) )
-%>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'type', @query.type, :disabled => true, :id => 'query_type' %>
<%
    ################
    # Smile specific #797962 Time Entry Report Queries
    # Smile specific : NOT for TIME REPORT QUERIES
    unless is_time_report_query
-%>
<%= query_hidden_sort_tag(@query) %>
<%
    end
    # END -- Smile specific #797962 Time Entry Report Queries
    #######################
-%>

<div id="query_form_with_buttons" class="hide-when-print">
<div id="query_form_content">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>

  <fieldset id="options" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
<%
    ################
    # Smile specific #797962 Time Entry Report Queries
    # Smile specific : NOT for TIME REPORT QUERIES
    unless is_time_report_query
-%>
        <tr>
          <td class="field"><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
<%
    end

    ################
    # Smile specific #797962 Time Entry Report Queries
    # Smile specific : NOT for TIME REPORT QUERIES
    unless is_time_report_query
-%>
        <% if @query.groupable_columns.any? %>
        <tr>
          <td class="field"><label for='group_by'><%= l(:field_group_by) %></label></td>
          <td><%= group_by_column_select_tag(@query) %></td>
        </tr>
        <% end %>
<%
    end # unless is_time_report_query

    ################
    # Smile specific #47664 Rendre la case "sans les sous-tâches" optionnelle
    # Smile specific : NEW DEBUG
    if @query.respond_to?(:debug) && @query.debug
-%>
        </tr>
          <td>Debug</td>
          <td>
            <label for="debug">
              <%= check_box_tag 'debug', '1', params[:debug].present? %>
            </label>
          </td>
        </tr>
<%
    end
    # END -- Smile specific #47664 Rendre la case "sans les sous-tâches" optionnelle
    #######################

    ################
    # Smile specific #797962 Time Entry Report Queries
    # Smile specific : NOT for TIME REPORT QUERIES
    unless is_time_report_query
-%>
        <% if @query.available_block_columns.any? %>
        <tr>
          <td class="field"><%= l(:button_show) %></td>
          <td><%= available_block_columns_tags(@query) %></td>
        </tr>
        <% end %>
<%
    ################
    # Smile specific #797962 Time Entry Report Queries
    end
-%>
        <% if @query.available_totalable_columns.any? %>
        <tr>
          <td><%= l(:label_total_plural) %></td>
          <td><%= available_totalable_columns_tags(@query) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </fieldset>

<%
    ################
    # Smile specific #797962 Time Entry Report Queries
    # Smile specific : NOT for TIME REPORT QUERIES
    unless is_time_report_query
    else
      ################
      # Smile specific #797962 Time Entry Report Queries
      # Smile specific : ONLY for TIME REPORT QUERIES
-%>
<%= render :partial => 'queries/query_form_time_report', :locals => {:query => @query, :budget_and_remaining_enabled => @budget_and_remaining_enabled} %>
<%
    end # unless is_time_report_query
-%>

<p class="buttons">
  <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :sort => '', :project_id => @project }, :class => 'icon icon-reload'  %>
  <% if @query.new_record? %>
    <% if User.current.allowed_to?(:save_queries, @project, :global => true) %>
      <%= link_to_function l(:button_save),
                           "$('#query_type').prop('disabled',false);$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                           :class => 'icon icon-save' %>
    <% end %>
  <% else %>
    <% if @query.editable_by?(User.current) %>
      <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
      <%= delete_link query_path(@query) %>
    <% end %>
  <% end %>
</p>
</div>

<%= error_messages_for @query %>
