<%
  # Smile specific :
  # RM V4.0.3 OK
  #
  # ONLY for TIME REPORT QUERIES
  # * #797962 Time Entry Report Queries

  # Issue #31433 of RM.org for RM > 4.1
  if (Redmine::VERSION::MAJOR == 4 && Redmine::VERSION::MINOR >= 1) || Redmine::VERSION::MAJOR > 4
    legend_class = " class=\"icon icon-#{ query.new_record? ? "expended" : "collapsed" }\"".html_safe
  else
    legend_class = ''
  end
-%>
  <fieldset id="options_time_report" class="collapsible <%= query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"<%= legend_class %>><%= l(:label_options) %> (<b><%= l(:label_report) %></b>)</legend>
    <div style="display: none;">
      <table>
        <tr>
          <td class="field"><b><%= l(:label_criteria) %></b> (<%= l(:label_max_criteria, Query.max_criteria) %>)</td>
          <td>
            <%= render_query_criteria_selection(query) %>
          </td>
        </tr>

        <tr>
          <td class="field"><%= l(:label_details) %></td>
          <td><%= render_period_selection(query) %></td>
        </tr>
<%
      ################
      # Smile specific #47664 Rendre la case "sans les sous-tâches" optionnelle
      # Smile specific : + debug
      if query.respond_to?(:debug) && query.debug
-%>
        <tr>
          <td>
            <%= check_box_tag 'debug', '1', query.debug %> Debug
          </td>
        </tr>
<%
      end
      # END -- Smile specific #47664 Rendre la case "sans les sous-tâches" optionnelle
      #######################
-%>
      </table>
  </div>
</fieldset>
